#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "phplicensewatcher"
name = "PHPLicenseWatcher"
description.en = "License manager"
description.fr = "Gestionnaire de licences"

version = "2025.05.30~ynh1"

maintainers = []

[upstream]
license = "GPL-3.0"
website = "http://phplicensewatch.sourceforge.net"
admindoc = "https://phplicensewatch.sourceforge.io/index.html#Documentation"
code = "https://github.com/rpi-dotcio/phpLicenseWatcher"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "20M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/phplicensewatcher"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    url = "https://github.com/rpi-dotcio/phpLicenseWatcher/archive/4cd2d73bb7ed08d3839ad6ca2c69ec2863b22a9a.tar.gz"
    sha256 = "cbcf419e8d86ba04ee6834734a62d2d4c07df916b3f3f5d00e8dba5c71376cd2"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "php8.4-mysql",
        "mariadb-server",
    ]

    [resources.database]
    type = "mysql"
